# Ambientes Virtuais
venv/
env/
.venv/

# Arquivos de Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de Variaveis de Ambiente (Seguranca)
.env